@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.collapsible {
  padding-top: 30px;
  padding-bottom: 25px;
}

.collapsible h2 {
  height: 50px;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 24px;
  background-color: #ff6060;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-inline: 20px;
}

.collapsible p {
  background-color: #f6f6f6;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #ff6060;
  padding: 25px;
  margin: 0;
  border-radius: 0 0 5px 5px;
}

.collapsible img {
  transition: transform 0.3s;
}

.collapsible.expanded img {
  transform: rotate(180deg);
}
