@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

h2 {
  padding-left: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.accordion {
  width: 1000px;
  padding-top: 40px;
}

.item {
  background-color: #f6f6f6;
  margin-bottom: 35px;
  border-radius: 5px;
}

.title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 24px;
  background-color: #ff6060;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;  
}

.vector {
  padding-left: 20px;
  transform: rotate(180deg);
  cursor: pointer;
  transition: transform 500ms;
}

.content p{
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #ff6060; 
  padding: 20px;
  margin: 0;   
}


