.tag-button {
  border-radius: 10px;
  background-color: #ff6060;
  border: none;
  color: white;
  width: 155px;
  height: 25px;
  font-family: "Montserrat", sans-serif;
  margin-right: 20px;
  font-size: 14px;
}

.tags-name {
  padding-top: 20px;
  padding-left: 15px;
}

@media screen and (max-width: 720px) {
  .tag-button{
    width: 140px;
  }

  .tags-name{
    padding-bottom: 20px;
  }
}
