.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;
  }
  .container-title {
    color: #ff6060;
  }
  
  .container-title h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .container-title p {
    font-size: 18px;
    margin: 0;  
  }
  
  .container-host {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .container-host img {
    width: 84px;
    height: 84px;
    border-radius: 50px;
  }
  
  .container-host span {
    color: #ff6060;
    padding-right: 10px;
    display: inline-block;
    width: 90px;
    font-size: 18px;
  }

  @media screen and (max-width: 720px) {

    .container-host img{
      width: 60px;
      height: 60px;
    }

    .container-host span{
      font-size: 16px;
    }
  }
  
  