@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.display-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: #FF6060;  

}

.display-flex h1{
    padding-top: 120px;
    margin: 0;
    font-size: 288px;    
}

.display-flex h2{
    font-size: 36px;
    font-weight: 500;
}

.display-flex p {
    padding-top: 200px;      
}

.active-nav{
    text-decoration: none; 
    color: #FF6060;  
    text-decoration: underline;    
}